<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kitchen Blog</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    {% include 'navbar.html' %}


    <div class="content_wrapper">
        <div class="content">
            {% block content %}
                <h1>Welcome to Home of Kitchen Blog</h1>
            {% endblock %}
        </div>


    </div>


    {% include 'footer.html' %}

    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.js' %}"></script>
</body>
</html>
