<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kitchen Blog</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>
<body>
    <header class="site_header">
        <div class="site_brand">
            <h1 style="float:left"><a href="{% url 'home' %}">Kitchen Blog</a></h1>
            <h2 style="float:right"><a href="{% url 'post-new' %}"> + New Post </a> </h2>
        </div>
    </header>


    <div class="content_wrapper">
        <div class="content">
            {% block content %}
                <h1>Welcome to Home of Kitchen Blog</h1>
            {% endblock %}
        </div>

        <div class="slidebar">
            <div class="widget">
                <h1 class="widget_title">Slidebar Title</h1>
            </div>
        </div>
    </div>
</body>
</html>
