{% extends 'base.html' %}

{% block content %}



    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="my-4">Welcome to M'Kitchen Blog
{#                    <small>Secondary Text</small>#}
                </h1>

                    {% for post in object_list %}
                        <div class="card mb-4">
                            <img class="card-img-top" src="/{{post.image.url }}" class="img-responsive"  width="750" height="570" >
                            <div class="card-body">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card=text">{{ post.body|truncatechars_html:210 }}</p>
                                <a href="{% url 'post-detail' post.pk %}" class="btn btn-primary">Read More →</a>
                            </div>
                            <div class="card-footer text-muted">
                                Added {{ post.created_on}} by {{ post.author }} , category: <a href="{% url 'list-by-category' post.category.pk %}">{{ post.category }}</a>
                                <a href="#"></a>
                            </div>
                        <!-- Blog Post -->
                        </div>
                    {% endfor %}

                {% if is_paginated %}
                    <nav aria-label="Page navigation conatiner "></nav>
                    <ul class="pagination justify-content-center my-4">
                        {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                        {% endif %}
                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

                        {% endif %}
                    </ul>
                    </nav>
                {% endif %}
            </div>
            <div class="col-md-4">

                <form method="get" action="">
                    <input type="text" name="q" placeholder="Search Posts"/>
                    <input type="submit" value="Search"/>
                </form>

                <!-- Search Widget -->
                <div class="card my-4">
                  <h5 class="card-header">Search</h5>
                  <div class="card-body">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Go!</button>
                      </span>
                    </div>
                  </div>
                </div>
                              {% for category in object_list %}
                                  <li>{{ category.name }}</li>
                              {% endfor %}
                <!-- Categories Widget -->
                <div class="card my-4">
                  <h5 class="card-header">Categories</h5>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                          <li>
                              {{ category.categories.all }}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Side Widget -->
                <div class="card my-4">
                  <h5 class="card-header">Side Widget</h5>
                  <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                  </div>
                </div>

            </div>
        </div>
    </div>




{% endblock %}

