{% extends 'base.html' %}
{% block content %}

    <style>
     header{
        width: 100%;
        height: 68vh;
        background:  url("/{{post.image.url }}") ;
        {#filter: blur(8px);#}
        {#-webkit-filter: blur(8px);#}
        background-size: cover;
        position: relative;
    }
     .content {
        width: 94%;
        margin: -4em auto;
        font-size: 20px;
        line-height: 30px;
        text-align: justify-all;
        }

    </style>

    <div class="text_center">
        <p3>{{ post.title }}</p3>
    </div>


    <div class="post_details">
        <div class="post_info">

            <h1>{{ post.title }}</h1>
            <div class="post_detail_meta">
                <p>Author: {{ post.author }} | <a href="{% url 'post-edit' post.pk %}"> + Edit Post </a> | <a href="{% url 'post-delete' post.pk %}">Remove</a> </p>
            </div>
        </div>

        <div class="post_detail_content">
            {{ post.body }}
        </div>
        <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-width="" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>



<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="" data-numposts="5"></div>
    </div>

{% endblock %}

